body {
     background-position: top;
     background-size: auto;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 500px;
}
button {
	height: 50px;
    width: 50px;
    position: center;
    border: 1px solid white;
    color: white;
    background: transparent;
    cursor: pointer;
}
 



